* {
  font-family: Arial, Helvetica, sans-serif;
}

#bills-page {
  width:fit-content;
  max-width: fit-content;
  margin: 0 auto;
}

#outermost-container {
  width: fit-content;
  max-width: fit-content;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

table, td, th{
  border-bottom: 2px solid #DDD;
  border-collapse: collapse;
  
}

td {
  text-align: left;
}

th {
  text-align: center;
}



td, th {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
}

/*On phone screens we need to alter the padding. It just looks bad on phone with ems since we go beyond the width of the screen */
@media screen and (max-width: 450px) {
  td, th {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1em;
  }
}


tr:nth-child(even) {
  background-color: #D6EEEE;
}

.clickable-row:hover{
  background-color: rgb(184, 181, 181);
}

nav{
  position:sticky;
  top:0;
  overflow: hidden;
}


.page-button{


  margin:1.5em;
  width: fit-content;
}

.page-link{
  background-color: red;
  padding: 1em 1.5em;
}
.page-link:hover{
  background-color: aqua;
}

.menu-links{
 
  
  padding: 1.5em 1em;

}

#navlinks{
  margin-bottom: 2em;
}

.menu-links:hover{
  background-color: aqua;
}

.router-link-active{
  background-color: aqua;
  border-color: aqua;
}